<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd 
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd 
		http://www.springframework.org/schema/task  
		http://www.springframework.org/schema/task/spring-task.xsd  
		http://www.springframework.org/schema/data/mongo 
		http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">
		
	<context:component-scan base-package="com.bmss"  />
	<context:property-placeholder location="classpath:env.properties" />

	<mongo:mongo-client id="mongo" replica-set="${mongo.replica}" credentials="${mongo.username}:${mongo.password}@${mongo.dbname}">
		<mongo:client-options connections-per-host="100"
							  threads-allowed-to-block-for-connection-multiplier="50"
							  connect-timeout="30000"
							  max-wait-time="5000"
							  socket-keep-alive="true"
							  write-concern="NORMAL"
							  socket-timeout="5000"
							  />
	</mongo:mongo-client>
    
	<mongo:db-factory dbname="${mongo.dbname}" mongo-ref="mongo"/>
	<!--username="${mongo.username}" password="${mongo.password}" -->
   
	
	<bean id="mappingContext" class="org.springframework.data.mongodb.core.mapping.MongoMappingContext" />
	
	<bean id="mappingMongoConverter" class="org.springframework.data.mongodb.core.convert.MappingMongoConverter">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
		<constructor-arg name="mappingContext" ref="mappingContext" />
		<property name="typeMapper" ref="defaultMongoTypeMapper" />
	</bean>
	
	<bean id="defaultMongoTypeMapper" class="org.springframework.data.mongodb.core.convert.DefaultMongoTypeMapper">
		<constructor-arg name="typeKey">
			<null /><!-- 这里设置为空,可以把 spring data mongodb 多余保存的_class字段去掉 -->
		</constructor-arg>
	</bean>
     
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
		<constructor-arg name="mongoConverter" ref="mappingMongoConverter" />
	</bean>


	<!-- mongodb bean的仓库目录，会自动扫描扩展了MongoRepository接口的接口进行注入 -->
	<mongo:repositories base-package="com.bmss.respository"/>

	<!-- To translate any MongoExceptions thrown in @Repository annotated classes -->
	<context:annotation-config />
</beans>